.app-container {
    display: flex;
}

.content {
    width: 100%;
}

.sidebar {
    height: 100vh;
}

.post-card {
    margin: 20px 50px;
}

.hashtag {
    margin: 0 3px;
}

.reactions {
    margin: 15px 0 0 0;
}

.create-post {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.no-post {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin: 5%;
}